body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Khula', sans-serif;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
img {
    vertical-align: middle;
    width: 100%;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*-- //Reset-Code --*/


header {
    height: 300px;
    /* background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  #000 url(../img/piano.png); */
    background:#000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: auto;

}

.presentation-box {
    margin-top: -8em;
}

.presentation-box .col-md-12.picture {
    /* text-align: center; */
}

.presentation-box .container {
    width: 70% !important;
}

.presentation-box img {
    width: 160px;
    /* border-radius: 50%; */
    border: 10px solid #fff;
    box-sizing: content-box;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .3s all ease-in-out; 
    -moz-transition: .3s all ease-in-out; 
    -webkit-transition: .3s all ease-in-out; 
    -o-transition: .3s all ease-in-out; 
}

.presentation-box img:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: none;
}

.presentation-box .col-md-3 {
    padding-right: 0 !important;
    text-align: center;
}

.presentation-c {
    /* background: rgba(1, 1, 1, .3); */
    color: #000;
    padding: 10px;
    padding-left: 20px;
    position: relative;
    overflow: hidden;
}

.presentation-c .dec-circle {
    display: none; 
    position: absolute;
    color: rgba(255, 255, 255, .15);
    /* width: 300px;
    height: 300px; */
    font-size: 6em;
    font-weight: 600;
    /* border-radius: 50%; */
    right: -10px;
    top: -10px;
}

.presentation-c h1 {
    padding-top: .9em ;
    
    font-size: 3.3em;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
	position:relative;
	/*background: rgba(255, 255, 255, .4);*/
	letter-spacing: -4px;
	
}

.presentation-c h1:after {
	content: '';
	position: absolute;
	height: 3px;
	background: #000;
	width: 100%;
	top: 80%;
	left: 0;
	
}

.presentation-i p {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px;
    color: rgba(0, 0, 0, 0.76);
} 

/* social icons */

ul.social-icons {
    list-style: none;
}

ul.social-icons li {
    display: inline-block;
    margin: 0 3px;
}

ul.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    position: relative;
    transition: .5s;
    background: #fff;
    transform-style: preserve-3d;
}

ul.social-icons .front, ul.social-icons .back {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(15px);
    color: #212121;
    font-size: 30px;
}

ul.social-icons .back {
    transform: rotateX(90deg) translateZ(20px);
    /* backface-visibility: hidden; */
}

a.facebook .back i {
    color: #1d4E89;
}

a.youtube .back i {
    color: rgba(255, 0, 0, 0.815);
}

a.linkedin .back i {
    color: #f2962e;
}

a.github .back i {
    color: #f76838;
}

a.facebook .front, a.github .front,
 a.linkedin .front, a.youtube .front {
     background: #fff;
}

.social-icons a:hover {
    transform: rotateX(-90deg);
}

.social-icons a:hover .back {
    backface-visibility: visible;
}

.social-icons .front i {
    color: #000;
    background: #fff;
}

.social-icons .back i {
    color: #fff;
}


/* end social icons */

.w3_agile_logo h1 a span {
    display: block;
    line-height: 0;
    font-size: .35em;
    padding-left: 7.2em;
    color: rgba(12, 54, 234, 0.96);
    font-family: 'Raleway', sans-serif;
} 


.m_nav_ham {
    box-sizing: border-box;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#m_nav_container {
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: rgba(1, 1, 1, .6);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 990 !important;
}

.wthree_bg {
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} 

 .wthree_bg.container_open {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
} 

#m_nav_bar {
    width: 100%;
    margin: auto;
}
#m_nav_list {
    list-style: none;
    margin: 1.5em 0 0;
}

.m_nav_item {
    display: inline-block;
    margin: 0 2em;
}

.m_nav_item a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-transition-duration: 0.5s;
}

.container_open {
    position: fixed !important;
    display: block;
    height: 120px;
}
#m_nav_menu {
    width: 50px;
    height: 32px;
    position: fixed;
    top: 30px;
    right: 13.4%;
    z-index: 999 !important;
    cursor: pointer;
}

.m_nav_ham {
    width: 30px;
    height: 3px;
    background: #000;
    margin: 5px auto;
}

.m_nav_ham_1_open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 15px;
}

.m_nav_ham_2_open {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -8px;
}

.m_nav_ham_3_open {
    opacity: 0;
}

.button_open {
    background: #fff;
}

.w3_agileits_ham {
    margin-top: .8em;
}

.w3_agileits_ham.m_nav_ham_1_open {
    margin-top: 20px !important;
}

#m_nav_container {
    text-align: center;
}

#m_nav_menu {
    top: 2%;
}

.dropdown-menu>li>a {
    display: block;
    padding: 4px 15px;
}

.dropdown-menu {
    min-width: 133px;
}

/* nav effect */

.menu__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__link {
    display: block;
    padding: .5em;
}

.menu--sebastian .menu__link {
    position: relative;
    -webkit-transition: color 0.4s;
    transition: color 0.4s; 
}

.menu--sebastian .menu__link:hover {
    color: #fff;
}

.menu--sebastian .menu__link:hover {
    color: #fff;
}

.menu--sebastian .menu__item--current .menu__link {
    color: #fff;
}

.menu--sebastian .menu__link::before,
.menu--sebastian .menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.774);
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.menu--sebastian .menu__link::before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.menu--sebastian .menu__link::after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.menu--sebastian .menu__item--current .menu__link::before,
.menu--sebastian .menu__item--current .menu__link::after,
.menu__link:hover::before,
.menu__link:hover::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


/* portfolio */

#portfolio {
    width: 100%;
    margin: auto;
}

.portfolio-item {
    position: relative;
    padding-top: 2em;
    /* position: absolute; */
    /* min-width: 350px; */
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(1, 1, 1, .2);
    margin-bottom: 15px;
}

.portfolio-img-item {
    width: 100%;
    overflow: hidden;
}

.portfolio-img-item img {
    text-align: center;
    /* margin-top: 10px; */
    width: 95%;
    transition: .3s all ease-in; 
    filter:grayscale(100%); 
}

.portfolio-img-item a {
    display: block;
    width: 100%;
    padding: 4px;
    text-align: center;
    /* height: 100%; */
    position: relative;
    z-index: 3;
}

.portfolio-img-item a h2 {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    background: #000;
    color: #fff;
    text-align: left;
    width: 95%;
    margin: auto;
}

/* .portfolio-img-item a:after {
    position: absolute;
    width: 60px;
    height: 60px;
    content: '\f0c1';
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    background: rgba(255, 255, 255, .4);
    border-radius: 50%;
    border: solid 4px rgba(1, 1, 1, 0.363);
    background-clip: padding-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: scale(3);
    transition: all .5s ease-out;
    color: rgba(255, 255, 255, .6);
    opacity:0;
} */

.portfolio-img-item:hover a:after {
    opacity: 1;
    transform: scale(1);
  }
   
  .portfolio-img-item:hover img {
    filter:none; 
  }
  
  .portfolio-item .portfolio-item-info .header {
    text-align: right;
    padding-right: 10px;
    margin: 15px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100; 
}

.portfolio-item .title {
    position: absolute;
    top: 24px;
    left: 4px;
    font-size: 9px;
    text-transform: uppercase;
    z-index: 20;
    /* border-bottom: 2px solid rgba(255, 255, 255, .3); */
}

.portfolio-item .title h2 {
    font-size: 10px;
    letter-spacing: 1px;
    color: #fff;
    background: rgb(238, 100, 231);
    padding: 8px;
    z-index: 100;
    font-weight: 600;
    border-radius: 4px 0 4px 0;
}

.portfolio-item .portfolio-item-info .footer {
    background: rgb(251, 245, 247);
    border-radius: 3px;
}

.portfolio-item .portfolio-item-info .footer .colors {
    padding-top: 3px;
    float: left;
    margin-left: 10px;
  }

  @import url('https://fonts.googleapis.com/css?family=Lato:300,400');


  .portfolio-item .portfolio-item-info .description{
    padding:20px 10px;
    letter-spacing: .5px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.801);
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    font-size: 14px;
  }

  .portfolio-item .portfolio-item-info .footer .date {
    padding-top: 5px; 
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 13px;
    margin-right: 10px;
    color: rgb(165, 138, 141);
    text-shadow: 1px 1px .3px rgba(0,0,0, 0.1);
  }

  .portfolio-item .portfolio-item-info .footer::after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 10px;
}

.portfolio-item .footer .colors span {
      height: 10px;
      width: 10px;
      /* z-index: 1000; */
      display: inline-block;
      background: rgb(88, 88, 60);
      border-radius: 50%;
      box-shadow: 1px 1px 1px rgba(1, 1, 1, .4);
      /* position: relative; */
}

#portfolio {
    padding: 5em 0;
}

#portfolio .container {
    margin: auto;
    width: 80%;
}

/* end portfolio */

/* footer */

footer {
    background: rgba(1, 1, 1, .9);
    padding: 20px 0px;
}

footer a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

footer .container a {
    color: #fff !important;
}

footer .container .social-footer {
    margin-top: 5px;
    padding-top: 24px;
    margin: auto;
}


footer .container .social-footer li {
    /* border-right: 1px solid rgba(255, 255, 255, 0.658); */
    display: inline-block;
    line-height: 30px;
    margin-right: 5px;
    /* padding: 10px; */
    /* background: #75f4b5; */
}

footer .container .social-footer li i:hover {
    color: #e5c2db;
}

footer .container .social-footer li i{
    color: #fff;
    font-size: 20px;
    padding: 10px;
    transition: .2s all ease-in-out;
}

footer .container .site-links {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .container .site-links {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
} 

footer .container .site-links li {
    display: inline-block;
    line-height: 30px;
    padding: 10px;
    transition: .2s all ease-in-out;
}

footer .container .site-links li:hover {
    color: #ce80b8;
} 

footer .copyright {
    height: 30px;
    background: white;
}

footer .container col-md-6 ul,
footer .container col-sm-6 ul{
    text-align: center;
}

/* end footer */

#skills {
    width: 100%;
    padding: 6em 8em;
}

#skills .container {
    width: 80%;
    margin: auto;
}

#skills span {
    display: inline-block;
    margin: 5px;
}

.skills-tag-HTML {
    font-size: 25px;
    padding: 12px;
    color: #fff;
    background: #000;
}

.skills-tag-CSS {
    font-size: 26px;
    padding: 12px;
    color: #000;
    background: #fff;
    border: 10px solid #000;
    font-weight: 600;
    border-radius: 4px;
}

.skills-tag-JavaScript {
    font-size: 20px;
    padding: 12px;
    color: #000;
    background: #fff;
    border: 6px solid #000;
    font-weight: 600;  
}

.skills-tag-Bootsrap {
    font-size: 15px;
    padding: 12px;
    color: #fff;
    background: #000;
    border: 6px solid #000;
    font-weight: 600;  
}

.skills-tag-Photoshop {
    font-size: 15px;
    padding: 12px;
    color: #000;
    background: #fff;
    border: 3px solid #000;
    font-weight: 600;  
}

.skills-tag-Jquery {
    font-size: 15px;
    padding: 12px;
    color: #000;
    background: #fff;
    border: 3px solid #000;
    font-weight: 400; 
    border-radius: 20px; 
}

.skills-tag-Java {
    font-size: 12px;
    padding: 6px;
    color: #fff;
    background: #000;
    border: 3px solid #000;
    font-weight: 400;  
}

.skills-tag-Spring {
    font-size: 12px;
    padding: 6px;
    color: #000;
    background: #fff;
    border: 3px solid #000;
    font-weight: 400;   
}

.skills-tag-MySql {
    font-size: 12px;
    padding: 6px;
    color: #000;
    background: #fff;
    border: 3px solid #000;
    font-weight: 600;
    border-radius: 4px;
}


/* responsiveness */


@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {
    #m_nav_menu {
        right: 9.3%;
    }
    .m_nav_item {
        margin: 0 1.5em;
    }
}

@media screen and (max-width: 1366px) {
    #m_nav_menu {
        right: 7%;
    }
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1080px) {
    #m_nav_menu {
        right: 5%;
    }

    .presentation-c .dec-circle {
        font-size: 1em;
    }

    .presentation-box .container {
        width: 80% !important;
    }

}

@media screen and (max-width: 1050px) {

    /* .presentation-c {
       padding-left: 20px !important;
    }
    .presentation-box .col-md-3 {
        padding: 0 !important;
        margin-right: 15px;
        text-align: center;
    } */

    #skills {
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }

    #skills .container {
        width: 90%;
    }

    .presentation-c .dec-circle {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #m_nav_menu {
        right: 2.5%;
    }
}

@media screen and (max-width: 991px) {
    #m_nav_menu {
        right: 12%;
    }
    #m_nav_menu {
        top: 3%;
    }
    .m_nav_item {
        margin: 0 0.8em;
    }

    #skills {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #skills .container {
        width: 95%;
    }

    .presentation-c {
        text-align: center;
    }

    .presentation-c h1 {
        padding-top: .9em;
        font-size: 3.3em;
        font-weight: 500;
        margin-bottom: 10px;
        color: #000;
    }

    .presentation-box .container {
        width: 100% !important;
    }

}

@media screen and (max-width: 900px) {
    #m_nav_menu {
        right: 8%;
    }
    #m_nav_container {
        text-align: left;
    }
    .m_nav_item {
        margin: 0 0.5em 0 2em;
    }
    #m_nav_container {
        width: 100%;
        height: 76px;
    } 

    header {
        height: 200px;
    }
}

@media screen and (max-width: 800px) {
    #m_nav_menu {
        right: 3%;
    }
    #m_nav_menu {
        top: 3%;
    }
    .m_nav_item {
        margin: 0 0.5em 0 1.5em;
    }
}

@media screen and (max-width: 768px) {
    .m_nav_item {
        margin: 0 0.5em 0 1.3em;
    }

    #skills {
        padding: 40px 5px;
    }
}

@media screen and (max-width: 736px) {
    #m_nav_menu {
        right: 1%;
    }
    .m_nav_item {
        margin: 0 0.5em 0 1.1em;
    }
}

@media screen and (max-width: 667px) {
    .m_nav_item {
        margin: 0 0 0 1.3em;
    }
}

@media screen and (max-width: 640px) {
    .m_nav_item {
        margin: 0 0 0 1em;
    }
}

@media screen and (max-width: 600px) {
    #m_nav_list {
        margin: 0 auto;
        width: 70%;
        padding: 2.2em 0 1em;
    }
    #m_nav_container {
        height: auto;
    }
    .m_nav_item {
        display: block;
        text-align: center;
        margin: 0 0 10px;
    }

    .presentation-c h1 {
        padding-top: .4em;
        font-size: 3em;
        font-weight: 500;
        margin-bottom: 10px;
        color: #000;
    }
}

@media screen and (max-width: 568px) {
    .skills-tag-HTML {
        font-size: 22px;
        padding: 9px;
        color: #fff;
        background: #000;
    }
    
    .skills-tag-CSS {
        font-size: 23px;
        padding: 9px;
        color: #000;
        background: #fff;
        border: 10px solid #000;
        font-weight: 600;
        border-radius: 4px;
    }
    
    .skills-tag-JavaScript {
        font-size: 17px;
        padding: 9px;
        color: #000;
        background: #fff;
        border: 6px solid #000;
        font-weight: 600;  
    }
    
    .skills-tag-Bootsrap {
        font-size: 12px;
        padding: 9px;
        color: #fff;
        background: #000;
        border: 6px solid #000;
        font-weight: 600;  
    }
    
    .skills-tag-Photoshop {
        font-size: 12px;
        padding: 9px;
        color: #000;
        background: #fff;
        border: 3px solid #000;
        font-weight: 600;  
    }
    
    .skills-tag-Jquery {
        font-size: 12px;
        padding: 9px;
        color: #000;
        background: #fff;
        border: 3px solid #000;
        font-weight: 400; 
        border-radius: 20px; 
    }
    
    .skills-tag-Java {
        font-size: 9px;
        padding: 3px;
        color: #fff;
        background: #000;
        border: 3px solid #000;
        font-weight: 400;  
    }
    
    .skills-tag-Spring {
        font-size: 9px;
        padding: 3px;
        color: #000;
        background: #fff;
        border: 3px solid #000;
        font-weight: 400;   
    }
    
    .skills-tag-MySql {
        font-size: 9px;
        padding: 3px;
        color: #000;
        background: #fff;
        border: 3px solid #000;
        font-weight: 600;
        border-radius: 4px;
    }
    
}

/* gallery */

#gallery {
    padding: 5em 0em;
}

.gallery-item {
    background: #000;
    margin-bottom: 20px;
}

/* end gallery */

@media screen and (max-width: 480px) {
    #m_nav_menu {
        top: 2%;
    }
}

@media screen and (max-width: 414px) {
    #m_nav_menu {
        right: 2%;
    }

    #m_nav_menu {
        top: 1.5%;
    }
}

@media screen and (max-width: 384px) {
   
}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {

}