/*reset code*/

@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Anton|Bowlby+One|Cabin+Sketch|Julius+Sans+One|Monoton');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

body a {
    transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus, a:hover {
    text-decoration: none;
}

input[type="button"], input[type="submit"] {
    transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    width: 100%;
}

a:focus, a:hover {
    text-decoration: none;
    outline: none;
}

/*#D63152;*/
/*#0a0908*/

/*reset-code*/

/* * { */
/*    border: 1px solid black;   */
/* } */


/*    clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%)*/

/*TOP PART*/

/*

left-box
*/

.left-box {
    height: 70vh;
}

.right-box {
    height: 0px;
}


.header .content-box {
    height: 85vh;
}

.left-box .main-title {
    position: absolute;
    color: #75f4b5;
    top: 50%;
    left: 30%;
    margin-right: 5%;
    text-align: right;
}

.left-box .main-title h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 1.5px;
    font-size: 4rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, .2);
    margin: 0;
}

@media (max-width: 900px) {
    .left-box .main-title h1 {
        font-size: 2rem;
    }
}


@media (max-width: 768px) {
    .left-box .main-title h1 {
        font-size: 2rem;
        margin-bottom: 4px;
    }
    
    .header .content-box {
        height: 70vh;
    }

    .right-box {
        display: none;
    }
}

.left-box .main-title h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem;
    letter-spacing: 1rem;
    margin-right: -2rem;
    box-sizing: border-box;
}


/*RIGHT-BOX*/

.right-box {
    box-sizing: border-box;
    height: 85vh;
    background: url(../img/top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
}

.nav-c {
    position: relative;
}


.navigation button {
    position: fixed;
    right: 50px;
    top: 30px;
    padding: 4px;
    background: #260126;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    z-index: 1000;
}

.navigation button .icon-bar {
    width: 150px;
    height: 6px;
    background: #d63152;
    box-shadow: none;
    border-radius: 1px;
    transition: 0.3s transform ease-in;
}

.navigation button .icon-bar+.icon-bar {
    margin-top: 6px;
}

@media (max-width: 768px) {
    .navigation button .icon-bar {
        width: 100px;
        height: 4px;
    }

    .navigation button .icon-bar+.icon-bar {
        margin-top: 4px;
    }
}

.letters {
    height: 15vh;
    background: #000;
    background: linear-gradient(to right bottom, rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.4)), url(../img/leters.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*END TOP PART*/

.about_me  .half-screen {
    height: 50vh;

}

.about_me  .half-screen.about-me-box {
    background: #000;
    border-left: 15px solid #cc0066;
    padding-left: 5px;
}

/* .about_me  .half-screen.about-me-box .about-me-text-inner {
    height: 50vh;
} */

.about-me-text-inner {
    border-left: 3px solid #cc0066;;
}

.about-me-text {
    width: 50%;
    color: #cc0066;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-me-text h3 {
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .about-me-text h3 {
        font-size: 1rem;
    }
}

.about-me-text .info-label {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(117, 244, 181, .6);
}

.about_me  .half-screen.about-me-title-box {
    background: #d63152;
    text-align: center;
    border-bottom: 5px solid #e10052;
}

.about_me .about-me-title-box .social-c {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background: #d5798d;
}

.social-c ul {
    display: flex;
    background: #75f4b5;
  
}

.about-me-title-box .photo-title img {
    width: 100px;
}

.photo-title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%)
    
}

.photo-title h2 {
    margin-top: 1rem;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.6rem;
    font-size: 2rem;
    
}


.about-me-title-box .social-c ul li {
    display: inline-block;
    list-style: none;
    border-right: 4px solid #d63152;
    width:25%;
    background: #ec6b76;
    line-height: 3rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.about-me-title-box .social-c ul li:hover {
    background: #ec9ba2;
}

.about-me-title-box .social-c ul li i  {
    font-size: 2rem;
    line-height: 3rem;
    color: #331919;
}

.half-screen.skills {
    background: #d63152;
}

.half-screen .skills-c {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.half-screen .skills-c span {
    display: inline-block;
    padding: 10px;
}

.half-screen.skills-title {
    background: #0c0502;
}

.skills-title h2 {
    font-family: 'Cabin Sketch', cursive;
    color: #d5798d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    text-underline-position: right; 
}

/* //////////////////////////////////////////////////////PORTFOLIO */




/*//////////////////////////////// HAMBURGER MENU*/

.navigation .toggleBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
}

.navigation .toggleBtn.active div:nth-child(2) {
    opacity: 0;
}

.navigation .toggleBtn.active div:nth-child(1) {
    transform: rotate(10deg) translateY(11px) translateX(2px);
}

.navigation .toggleBtn.active div:nth-child(3) {
    transform: rotate(-9deg) translateY(-13px) translateX(2px);
}


@media (max-width: 768px) {
    .navigation .toggleBtn.active div:nth-child(1) {
        transform: rotate(10deg) translateY(7px) translateX(2px);
    }
    
    .navigation .toggleBtn.active div:nth-child(3) {
        transform: rotate(-9deg) translateY(-9px) translateX(2px);
    }
    
}

.navigation .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    transition: display 2s all ease-in-out;
    display: none;
   
}

.navigation .menu.active {
     display: block;
} 

.navigation .menu.active {
    /* z-index: 1; */
}

.menu:before,.menu:after {
    content:"";
    position: absolute;
    top: 0px;
    width: 0vw;
    height: 100vh;
    transition: all 200ms ease-in-out;
    background: #e10052;
}

.menu:before {
    left: 0px;
}

.menu::after {
    right: 0px;
}

.menu::before,.menu::after {
    display: none;
}

.menu.active::before,.menu.active::after{
    display: block;
    width: 50vw;
}

.navigation .menu ul {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    transition: all 300ms ease-in-out 400ms;
}

.navigation .menu ul li {
    list-style: none;
    font-size: 45px;
    margin: 30px 0px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navigation .menu ul li {
        font-size: 30px;
        margin: 20px 0px;
    }
}

.navigation .menu ul li:after {
    content: "";
    display: block;
    height: 2px;
    width: 10%;
    margin: auto;
    margin-top: 15px;
    background: #75f4b5;
}


.navigation .menu.active ul {
    top: 50%;
}




/* ////////////////////////////////////PORTFOLIO */

.portfolio-outer {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 10px;
}

.portfolio-c {
    width: 90%;
    margin: auto;
    display: flex;
}

.portfolio-outer .portfolio-site-card {
    margin: 10px;
    display: inline-block;
    
    box-shadow: 0px 1px 3px rgba(1, 1, 1, .4);
}

.portfolio-outer .portfolio-site-card figure {
    margin: 0;
}


/* /////////////////////////////////FOOTER */

footer {
    background: #0c0401;
    height: 30vh;
    margin-top: 4vh;
}


/* //////////////////////////////////////////////BOOTSTRAP GRIDD */



.half-screen {
    position: relative;
    flex: 1;
    min-height: 1px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.half-screen::before, .half-screen::after {
    display: table;
    content: " ";
}

@media (min-width: 768px) {
   .content-box{ 
       display: flex;
   }
}

.content-box {
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.content-box::before, .content-box::after {
    display: table;
    content: " ";
}

.content-box:after {
    clear: both;
}













