
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700,900');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ////////////////////////////////////header */

.container {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media (min-width: 762px) {
    .container {
        display: flex;
    }
}

.one-half {
    position: relative;
    flex: 1;
    min-height: 1px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
}

.header .one-half {
    height: 85vh;
    background: pink;
}

.one-half .title-row {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 10px;
}

@media(max-width: 762px){
    .one-half .title-row {
        justify-content: center;
    }

    .header .one-half {
        height: 50vh;
    }

    .header .one-half:nth-child(2) {
        display: none;
    }
}

/* ////////////////////////titel */

.header .container{
    position: relative;
    -webkit-box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
}

.header .one-half:nth-child(1) {
    background: #d63152;
}

.header .one-half:nth-child(2) {
    background: black;
    background: url(../img/top-bg.jpg);
    background-position: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    transition: 0.5s ease-in;
}


.header .title-box {
    color: #75f4b5;
    margin-right: 5%;
    text-align: right;
}

.header .title-box h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 1.5px;
    font-size: 4rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, .2);
    margin: 0;
    animation: moveInLeft 1s ease-out;
}

@media (max-width: 900px) {
    .header .title-box h1 {
        font-size: 2rem;
    }

    .header .title-box h3 {
        font-size: 1rem;
        letter-spacing: 1px;
    }
}

@media (max-width: 768px) {

    .header .title-box h3 {
        font-size: 4px;
        letter-spacing: 1px;
    }

    .header .title-box h1 {
        font-size: 2rem;
        margin-bottom: 4px;
    }
}

.header .title-box h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem;
    letter-spacing: 1rem;
    margin-right: -2rem;
    box-sizing: border-box;
    animation: moveInRight 1s ease-out;
}

@media (max-width: 768px) {
    .header .title-box h3 {
        font-size: 1rem;
        letter-spacing: 3px;
        margin-right:-5px; 
    }
}

@media (max-width: 900px) {
    .header .title-box h3 {
        font-size: 1.2rem;
        letter-spacing: 3px;
        margin-right:-5px; 
    }
}


@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } 
    }

/* ///////////////////////////letters */

.letters {
    height: 15vh;
    background: #000;
    background: linear-gradient(to right bottom, rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.4)), url(../img/leters.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1000;
}


/* /////////////////////////////////portfolio */

.portfolio  .one-half {
    height: 50vh;
    box-sizing: border-box;
}

.portfolio  .one-half.about-me-box {
    background: #000;
    border-left: 15px solid #cc0066;
    padding-left: 5px;
    box-sizing: border-box;
}

@media(max-width: 762px) {
    .portfolio  .one-half.about-me-box {
        order: 2;
    }

    .portfolio .one-half:nth-child(2) {
        order: 1;
    }
}

.portfolio .about-me-text-inner {
    border-left: 3px solid #cc0066;
    font-family: 'Open Sans', sans-serif;
}

.portfolio .about-me-text {
    width: 50%;
    color: #cc0066;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio .about-me-text h3 {
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .about-me-text h3 {
        font-size: 1rem;
    }
}

.about-me-text .info-label {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(117, 244, 181, .6);
}

.about_me  .half-screen.about-me-title-box {
    background: #d63152;
    text-align: center;
    border-bottom: 5px solid #e10052;
}

/* ////////////////////////////////////////////about me */

 .portfolio .one-half:nth-child(2),  .portfolio .one-half:nth-child(4)  {
    background: #d63152;
} 

.portfolio .one-half .social-c {
    position: absolute;
    bottom: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    background: #e10052;
}

 .portfolio .social-c ul {
    display: flex;
    list-style: none;
    background: #75f4b5;
}

.portfolio .photo-title img {
    width: 100px;
}

.portfolio .photo-title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    text-align: center;
    
}

.portfolio .photo-title h2 {
    margin-top: 1rem;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.6rem;
    font-size: 2rem;
}

.portfolio .social-c {
    width: 100%;
}

.portfolio .social-c ul {
    display: flex;
}


.portfolio .social-c ul li {
    list-style: none;
    border-right: 4px solid #d63152;
    background: #ec6b76;
    line-height: 3rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    flex: 1;
    text-align: center;
    font-size: 30px;
}

.portfolio .social-c ul li a {
    text-decoration: none;
    color: #1d282a;
}

.portfolio .social-c ul li:hover {
    background: #ec9ba2;
}

.about-me-title-box .social-c ul li i  {
    font-size: 2rem;
    line-height: 3rem;
    color: #331919;
}


/* ///////////////////////////////////////////skills */

.portfolio .one-half {
    border: 1px solid black;
}

.portfolio .one-half .skills-c {
    position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 
 .portfolio .one-half .skills-c span {
     display: inline-block;
     padding: 10px;
 }

 .portfolio .one-half.skills-title {
    background: #0c0502;
}

.portfolio .skills-title .skills-title-c {
    font-family: 'Cabin Sketch', cursive;
    color: #d5798d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-underline-position: right; 
    text-align: center;
}

/* ////////////////////////////////////items portfolio */

/* TODO GATHER THE SAME INFO */

.my-portfolio {
    padding: 90px 0;
    /* background: #000; */
    /* background: #DA4453; 
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);  */
}

.my-portfolio .container {
    width: 65%;
    margin: auto;
    display: flex;
    /* border-radius: 5px; */  

}

.my-portfolio-nav {
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    background: rgba(1, 1, 1, .7);
    box-shadow: 1px 1px 2px rgba(1, 1, 1, .8);
}

.my-portfolio-nav .portfolio-title h1 {
    line-height: 70px;
    margin-left: 80px;
    font-family: 'Open Sans', sans-serif;
    color:  #89216B;
    font-size: 32px;
    /* background: -webkit-linear-gradient(#eee, #333); */
      text-transform: uppercase;
}

@supports (-webkit-background-clip: text) {
    .my-portfolio-nav .portfolio-title h1 {
        background: linear-gradient(to right, #89216B, #DA4453); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.my-portfolio .container .col-portfolio {
    flex: 1;
}

.portfolio-item {
    min-width: 350px;
    margin: 10px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(1, 1, 1, .3);
}

#map {
    filter: hue-rotate(180deg)
}

.portfolio-img-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
  
  .portfolio-img-item img {
    margin: auto;
    margin-top: 10px; 
    width: 95%;
    height: 100%;
    transition: .3s all ease-in;
  }
  
  .portfolio-img-item a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .portfolio-img-item a:after {
    position: absolute;
    width: 60px;
    height: 60px;
    content: '\f0c1';
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: solid 10px rgba(255,104,107, .8);
    background-clip: padding-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: scale(3);
    transition: all .5s ease-out;
    color: #FF686B;
    opacity:0;
  }
  
  .portfolio-img-item:hover a:after {
    opacity: 1;
    transform: scale(1);
  }
   
  .portfolio-img-item:hover img {
    filter:grayscale(100%); 
  } 

  .portfolio-item .portfolio-item-info .header {
      text-align: right;
      padding-right: 10px;
      margin: 15px 0;
      font-family: 'Lato', sans-serif;
      font-weight: 100; 
  }

  .portfolio-item .portfolio-item-info .footer {
      background: rgb(251, 245, 247);
      border-radius: 3px;
  }

  .portfolio-item .portfolio-item-info .footer .colors {
    float: left;
    margin-left: 10px;
  }

  .portfolio-item .portfolio-item-info .footer .date {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 13px;
    margin-right: 10px;
    color: #DA4453;
    text-shadow: 1px 1px .3px rgba(0,0,0, 0.1);
  }

  .portfolio-item .portfolio-item-info .footer::after {
      content: "";
      display: block;
      clear: both;
      margin-bottom: 10px;
  }

  .portfolio-item .footer .colors span {
        height: 10px;
        width: 10px;
        /* z-index: 1000; */
        display: inline-block;
        background: yellow;
        border-radius: 50%;
        box-shadow: 1px 1px 1px rgba(1, 1, 1, .4);
        /* position: relative; */
  }


  /* ////////////////////////////////////////////////////footer */
  .navigation button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 4px;
    background: #260126;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    z-index: 1000;
}

.navigation button .icon-bar {
    display: block;
    width: 150px;
    height: 6px;
    background: #d63152;
    box-shadow: none;
    border-radius: 1px;
    transition: 0.3s transform ease-in;
}

.navigation button .icon-bar+.icon-bar {
    margin-top: 6px;
}

@media (max-width: 768px) {
    .navigation button .icon-bar {
        width: 100px;
        height: 4px;
    }

    .navigation button .icon-bar+.icon-bar {
        margin-top: 4px;
    }
}

.navigation .toggleBtn.active span:nth-child(2) {
      opacity: 0;
}

  .navigation .toggleBtn.active span:nth-child(1) {
    transform: rotate(10deg) translateY(11px) translateX(2px);
}


.navigation .toggleBtn.active span:nth-child(3) {
    transform: rotate(-9deg) translateY(-13px) translateX(2px);
}

@media (max-width: 768px) {
    .navigation .toggleBtn.active span:nth-child(1) {
        transform: rotate(10deg) translateY(7px) translateX(2px);
    }
    
    .navigation .toggleBtn.active span:nth-child(3) {
        transform: rotate(-9deg) translateY(-9px) translateX(2px);
    }
    
}

.navigation .menu.active {
    width: 100%;
}


.navigation .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    z-index: 1;
    transition: display 2s all ease-in-out;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation .menu ul {
    display: block;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    width: 100%;
    margin-top: 10%;
    text-align: center;
    z-index: 2;
    transition: all 5s ease-in-out;
    line-height: 70px;
    color:  #89216B;
    font-size: 32px;
    text-transform: uppercase;
}

 @supports (-webkit-background-clip: text) {
    .navigation .menu ul  {
        /* background: linear-gradient(to right, #89216B, #DA4453);  */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.navigation .menu ul li {
    list-style: none;
    font-size: 45px;
    margin: 30px 0px;
    cursor: pointer;
}

.navigation .menu .navigation-item i {
    color: rgb(223, 156, 204);
    transition: .2s all ease-in-out;
}

.navigation .menu.active li:hover i{
    transform: rotate(-14deg);
}

.navigation .menu.active ul li:hover {
    color: #ce80b8;
}


 @supports( -webkit-background-clip: text) {
    .navigation .menu .navigation-item i {
        background-color:  #a83989;
        -webkit-background-clip: text;
    }    
}

@media (max-width: 768px) {
    .navigation .menu ul li {
        font-size: 30px;
        margin: 10px 0px;
    }
}

/* ///////////////////////////////////footer */

footer {
    /* height: 100px; */
    background: rgba(1, 1, 1, .9);
    padding: 20px 0px;
}

footer section {
    display: block;
}

footer a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

footer .footer-c .links {
    display: flex;
}

footer .one-half {
    text-align: center;
    color: #89216B;
}

footer .one-half .social-footer {
    margin-top: 5px;
    padding-top: 24px;
    margin: auto;
}

footer .one-half .social-footer li {
    border-right: 1px solid #ce80b8a8;
    display: inline-block;
    line-height: 30px;
    margin-right: 5px;
    /* padding: 10px; */
    /* background: #75f4b5; */
}

footer .one-half .social-footer li i:hover {
    color: #e5c2db;
}

footer .one-half .social-footer li i{
    color: #a83989;
    font-size: 20px;
    padding: 10px;
    transition: .2s all ease-in-out;
}

footer .one-half .site-links {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .one-half .site-links {
    color: #89216B;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
} 

footer .one-half .site-links li {
    display: inline-block;
    line-height: 30px;
    padding: 10px;
    transition: .2s all ease-in-out;
}

footer .one-half .site-links li:hover {
    color: #ce80b8;
} 

footer .copyright {
    height: 30px;
    background: white;
}









