@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
* {
    padding: 0;
    margin: 0;
}

body {
/*    overflow: hidden;*/
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {
    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'BenchNine', Arial, sans-serif;
/*    text-transform: uppercase;*/
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #ededed !important;
    color: #3c3c3c ! important;
    border: 1px solid #ddd !important;
    
}


.snip1535 {
  background-color: !important;
  border: none !important;
  color: brown !important;
  cursor: pointer !important;
  display: inline-block!important;
  font-family: 'BenchNine', Arial, sans-serif !important;
  font-size: 1em !important;
  font-size: 22px !important;
  line-height: 1em !important;
  background-color: burlywood;
  outline: none !important;
  padding: 12px 40px 10px !important;
  position: relative !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
}

.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535:before {
  border-color: #c47135;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: #c47135;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
    color: antiquewhite;
}

/*BODY*/

/*LOGO*/

.navbar img {
 width: 500px;
}

/*NAVBAR*/

.navbar img {
    position: absolute;
    height:130%;
    z-index: -5;
}

body {
   background-image: url(../images/wood-bg.jpg);
}

.navbar {
    font-family: 'BenchNine', Arial, sans-serif !important;
    
    font-weight: 700;
    border: 1px solid black;
    z-index: 1;
    height: 160px;
    background-image: url(../images/wood-header.png);
    background-size: cover;
     background-repeat: no-repeat;
    margin-top: -50px;
   width: 100%;
    border-radius: 0px;
}


/*HEADER*/


.white-background {
    background:rgba(253, 246, 236, 0.8);
    padding:15px;
    
}

.custom-input {
    line-height: 2em;
    font-size: 19px;
    height:45px;
    padding-left: 7px;
    margin-top: -7px;
    background-color: burlywood;
    border: 0px;
    color: brown !important;
    font-family: 'BenchNine', Arial, sans-serif !important;
    margin-right: 3px;
}

.custom-input:focus {
   border-color: burlywood !important;
}

.header p {
    color:rgba(43, 42, 37, 0.7);
    font-weight: 200;
}


.header {
    height: 500px;
    border: 1px solid black;
    margin-top:px;
    border-radius: 3px;
    padding: 60px 0 30px;
    background-image: url(../images/warrior1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
   
}


.header h1 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
    color:rgba(43, 42, 37, 0.7);
}

.packages h4,
.packages h1,
.packages b{
    color: #4c4c4c;
}

.packages p,
.packages li {
    color: #737373;
}

.packages button {
    margin-top: 10px;
}

/*button*/

/*team*/




/*

copy HEADER
*/

body{
    
    padding:45px;
}














