/*reset code*/

body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

body a {
    transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

input[type="button"], input[type="submit"] {
    transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Khula', sans-serif;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding:0;
}

label {
    margin: 0;
}

img {
    vertical-align: middle;
    width: 100%;
}

a:focus, a:hover {
    text-decoration: none;
    outline: none;
}

/*//reset code*/

.banner {
    background: url(../images/suit.jpg) no-repeat 0px 0px;
    background-size: cover;
    position: relative;
}

.agileinfo-dot {
    background: url(../images/dott.png) repeat 0px 0px;
    background-size: 2px;
}

/*banner*/
/*header-left*/

.banner .header {
    padding: 2em 0;
}

.header-left {
    float: left;
}





/*
.banner .header {
    float: left;
}
*/

.w3layouts-logo h1 a {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

/*//header left*/

.top-nav {
    float: right;
    margin: .5em 0 0 0;
}
* {
    border: 0.4px solid black;
}

.navbar-default {
    border: none !important;
    background: none !important;
    margin: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none !important;
}

.top-nav ul {
    padding: 0;
}

.top-nav ul li {
    display: inline-block;
    margin: 0 1em;
    float: none;
}

.top-nav ul li:first-child {
    margin-left: 0;
}

.top-av ul li:nth-child(7) {
    margin-right: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
    border-right: solid 1px #efefef;
    box-shadow: 1px 0px 0px 0px rgba(72, 72 ,72, 0);
}

.top-nav ul li a {
    color: #fff !important;
    font-size: 17px;
    margin: 0;
    text-decoration: none;
    padding: 0;
}

.top-nav ul li a:hover {
    color: #0accff !important;
}

/*//top nav*/

/*slider*/

#slider2,
#slider3 {
    box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}

.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}


.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: -50%;
    left: 0;
    opacity: 0.6;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: transparent url("../images/icons.png") no-repeat left top;
}
 .callbacks_nav:hover{
  	opacity: 0.3;
  }

.callbacks_nav:hover{
  	opacity: 0.3;
  }
.callbacks_nav.next {
  left: auto;
    background-position: right top;
  left: 95.5%;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	left: 91%;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    height: auto;
    border: 0;
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    bottom: -140px;
    left: 70%;
    padding: 0;
    margin: 0;
    z-index: 990;
    display: block;
    text-align: center;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}

/*-----*/

.w3ls-text {
    width: 100%;
}

.w3ls-text h3, w3ls-text h2 {
    font-size: 3.5em;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    line-height: 1.3em;
}

.w3ls-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #ececec;
    font-weight: 500;
    letter-spacing: 2px;
    margin:2em auto;
}

.w3ls-text p i {
    font-size: 1.5em;
    color: #dea703;
}

.w3ls-text a {
    color: #fff;
    font-size: 16px;
    padding: .6em;
    display: block;
    background: #0accff;
    width: 20%;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
}

.w3ls-text a:hover {
    background: #ff464f;
}

.social-grids {
    
}

/*..........................................................*/

.banner span.glyphicon.glyphicon-piggy-bank {
    color: #ff464f;
    margin-right: 7px;
}

@media screen and (max-width: 414px) {
    .banner {
        background: url(../images/suit.jpg) no-repeat -150px 0;
        background-size: cover;
    }
}

@media screen and (max-width: 320px) {
    .banner {
        background: url(../images/suit.jpg) no-repeat -200px 0px;
		background-size: cover;
    }
    
    .w3layouts-logo h1 a {
        font-size: 30px;
    }
    
    .navbar-toggle {
        margin: 0;
        padding: 8px 8px;
    }
    
}

@media screen and (max-width: 991px){
    .w3layouts-logo h1 a {
        font-size: 36px;
    }
    
    .top-nav ul li {
        margin: 0 .6em;
    }
}

@media screen and (max-width: 767px) {
    
    .navbar-default .navbar-toggle {
        border-collapse: #fff;
    }
    
    .navbar-toggle {
        border-radius: 0px;
    }
    
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #0accff;
    }
    
    
    
    .top-nav {
        float: none;
        margin: 0;
        text-align: center;
    }
    
    .top-nav ul li {
        display: block;
        float: none;
    }
    
    .top-nav ul li a {
        font-size: 16px;
        padding: 8px;
    }
    .top-nav ul li {
        margin: 0;
    }
    
    div#bs-example-navbar-collapse-1{
        position: absolute;
        width: 100%;
        background: rgba(255, 70, 79, 0.7);
        z-index: 999;
    }
}

@media screen and (max-width: 736) {
    
    .navbar-default .navbar-toggle {
        border-color: #fff;
    }
    
    .navbar-toggle {
        border-radius: 0px;
    }
    
    .navbar-default .navbar-toggle:hover, navbar-default .navbar-toggle:focus {
        background-color: #0accff;
    }
    
    .top-nav {
        float: none;
        margin: 0;
        text-align: center;
    }
    .top-nav ul li {
        display: block;
        float: none;
    }
    
    .top-nav ul li a {
        font-size: 16px;
        padding: 8px;
    }
    
    .top-nav ul li {
        margin: 0;
    }
    
    div#bs-example-navbar-collapse-1 {
        position: absolute;
        width: 100%;
        background: rgba(255, 70, 79, 0.7);
        z-index: 999;
    }
    
    
    
    
}

/*--------------------------------------------------*/



















.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 1005;
    padding: 0
}


/*---------------------------------------------*/



