@import url('https://fonts.googleapis.com/css?family=Lato');

* {
 
   
}

body {
    font-family: lato, sans-serif;
    background-image: url('images/plan-page.jpg');
    background-size: cover;
    font-size: 16px;

}

section {
    text-align: center;
    margin: auto;
}

article {
    background: #262626;
    display: inline-block;
    margin: 80px 20px 0 20px;
    border: 5px solid #424242;
    color: #a1a1a1;
    text-align: center;
    width: 300px;
}

article h1 {
    font-size: 1.5em;
    color: #fff;
}

p.price {
    font-size: 3em;
    font-weight: bold;
    color: #27dcc4;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 5px 0;
   
}

button {
    background: #27dcc4;
    color: #fff;
    padding: 15px 30px;
    margin: 10 0;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

button:hover {
    background: #acacac;
}





















